*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.75em;
}
.item{
    margin:5px;
    background-color: grey;
    border:2px solid black;
}

.chicken,.beef,.sushi{
    margin-left:auto;
    width:100px;
    border:1px solid black;
    text-align: center;
    padding:3px;
}
.chicken{
    background-color: pink;
}
.beef{
    
    background-color:blue;
}
.sushi{

    background-color: red;
}
p{
    padding:10px;
}
@media(min-width:992px){
    .col-lg-4{
        float:left;
        width:32%;
    }
}
@media(max-width:991px) and (min-width:768px){
    
    .col-md-6{
        float:left;
        width:48.5%;
    }
    .col-md-12{
        float:left;
        width:98%;
    }
}
